<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Registration</title>
    {% load static %}
</head>

<body>
    <div class="container">
        <h1>Success! Welcome, {{ user.fName }} !</h1>
        {% if messages %} {% for message in messages %}
        <h2>{{ message }}</h2>
        {% endfor %} {% endif %}

        <form action="/logout">
            <button type="submit"> Log Out</button>
        </form>
    </div>
</body>

</html>